<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>m6x11.ttf</string>
		<string>SanMarinoBeach.ttf</string>
		<string>m3x6.ttf</string>
		<string>m5x7.ttf</string>
		<string>censor.ttf</string>
	</array>
</dict>
</plist>
